# Entorno virtual de Python
venv/

# Archivos de caché de Python
*.pyc
__pycache__/

# Base de datos SQLite
db.sqlite3

# Archivos y carpetas estáticos
/static/

# Archivos de configuración locales
.env

